body {
  font-family:'Montserrat', sans-serif;
  font-weight: 200;
  max-width: 960px;
  margin: 0 auto !important;
  float: none !important;
  background-image: url("stone_bg.jpg");  
}

body h1, div {
  color:white;
}

p {
  color:lightgrey;
}



.tweet {
  padding:5px 0;
}

.at {
  color:lightblue;
}

.userLink {
  text-decoration: underline;
}

.timestamp {
  color:lightgrey;
}
