body {
  font-family:'Montserrat', sans-serif;
  font-weight: 200;
  max-width: 960px;
  padding: 0 10px;
  margin: 0 auto !important;
  float: none !important;
  background-image: url("stone_bg.jpg");  
}

body h1, h2, div {
  color:white;
}

body p, h4{
  color:lightgrey;
}



.tweet {
  padding:5px 0;
}

.at {
  color:lightblue;
}

.userLink {
  text-decoration: underline;
}

.timestamp {
  color:lightgrey;
}

.hover{
  color:SandyBrown;
}
.click{
  color:Sienna;
}

#gohome {
  text-decoration: underline;
}
  
